@{
    ViewData["Title"] = "Sekreter Paneli";
}

<h2>Merhaba, @User.Identity.Name</h2>

<ul>
    <li><a href="/Lesson/Index">📘 Dersleri Yönet</a></li>
    <li><a href="/Classroom/Index">🏫 Sınıfları Yönet</a></li>
    <li><a href="/LessonSchedule/Index">📅 Ders Programı</a></li>
    <li><a href="/ExamSchedule/Index">📝 Sınav Programı</a></li>
</ul>
