@{
    ViewData["Title"] = "Öğretim Elemanı Paneli";
}

<h2>📘 Öğretim Elemanı Paneli</h2>
<p>Hoş geldiniz, @User.Identity.Name</p>

<ul>
    <li><a href="/Instructor/WeeklySchedule">📅 Haftalık Ders Programım</a></li>
    <li><a href="/Instructor/MyExams">📝 Sınavlarım</a></li>
</ul>
